body{
    background: #faf3eb;
    color:#333;
    width:100%;ffc0cb
    font-family: sans-serif;
    margin:0 auto;
}

.header {
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background: #ffc0cb;
    color:#fff;
}

